<div id="<%= dom_id coupon %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Store:</strong>
    <%= coupon.store_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= coupon.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= coupon.active %>
  </p>

</div>
