<div id="<%= dom_id purchase %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= purchase.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coupon:</strong>
    <%= purchase.coupon_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seats:</strong>
    <%= purchase.seats %>
  </p>

</div>
