<div class="flex-col gap-6 xl:flex max-w-md mx-auto px-4 items-center">
  <div class=" prose prose-sm md:prose-base mb-3">
  <h1>Editing page</h1>
</div>
<%= render "form", page: @page %>
<br>
<div>
  <%= link_to "Show this page", @page %> |
  <%= link_to "Back to pages", pages_path %>
</div>
</div>