<div class="flex-col gap-6 xl:flex max-w-md mx-auto px-4 items-center">
  <p style="color: green"><%= notice %></p>
<div class="flex text-left">
  <div class="grow prose prose-sm md:prose-base">
    <p> Example of a simple Rails app with a Pages resource with simple form</p>
  </div>
</div>
<div id="pages" class="mt-4 flex flex-col items-center">
  <% @pages.each do |page| %>
    <%= render page %>
  <% end %>
  <div class="card w-96 bg-base-100 shadow-xl mt-4">
    <div class="card-body justify-center align-middle">
      <%= link_to 'New Page', new_page_path, class: "btn btn-primary w-60 mx-auto" %>
    </div>
  </div>
</div>

</div>
