<div class="bg-base-100 text-base-content sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)]">
  <div class="navbar w-full">
    <div class="flex-none px-2 mx-2">
    </div>
    <div class="flex justify-center flex-1 px-2 mx-2">
      <span class="text-lg font-bold">
        <a href="/" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-2">
          <div class="font-title inline-flex text-lg md:text-2xl">
            <span class="uppercase">saku2</span>
          </div>
        </a>
      </span>
    </div>
    <div class="dropdown dropdown-end fixed top-4 right-4">
      <label tabindex="0" class="btn btn-ghost">
        <%= icon :'bars-3' %>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
        <!-- Sidebar content here -->
        <li>
          <% if user_signed_in? %>
            <div class="dropdown dropdown-end">
              <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                  <img alt="Avatar" src="https://i.pravatar.cc/500?img=<%=(1..70).to_a.sample%>" />
                </div>
              </label>
              <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li>
                  <a class="justify-between"> Profile
                    <span class="badge">New</span>
                  </a>
                </li>
                <li><a>Settings</a></li>
                <li><%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %> </li>
              </ul>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class:"btn btn-ghost btn-sm rounded-btn", data: { turbo: false } %>
          <% end %>

        </li>
      </ul>
    </div>
  </div>
</div>